@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Roboto";
@import "https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";


/* ==============================
    normalize css
============================== */
html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}


/* ==============================
    scss modules
============================== */
@import 'modules/grid';
@import 'modules/mqbp';
@import 'modules/color';
@import 'modules/prefix';
@import 'modules/global';
@import 'modules/pseudo';
@import 'modules/topbtn';
@import 'modules/header';
@import 'modules/article';
@import 'modules/footer';