%image-spec {
    max-width: 260px;
    @extend %center-vertical;
    @include box-shadow();
    @include border-radius($grid2x);
}

.article {

    &:not(:last-child) {
        border-bottom: 1px solid $stroke;
    }

    .wrapper {
        height: 640px;

        .wrapper-left {
            float: left;
            width: 50%;
            height: 100%;

            .text {
                @extend %center-vertical;
            }

            img {
                float: left;
                @extend %image-spec;
            }
        }

        .wrapper-right {
            float: right;
            width: 50%;
            height: 100%;

            img {
                float: right;
                @extend %image-spec;
            }

            .text {
                text-align: right;
                @extend %center-vertical;
            }
        }
    }
}