.article {
    .wrapper {
        height: 640px;

        .wrapper-left {
            float: left;
            width: 50%;
            height: 100%;

            .text {
                @extend %center-vertical;
            }
        }

        .wrapper-right {
            float: right;
            width: 50%;
            height: 100%;

            img {
                float: right;
                max-width: 240px;
                @extend %center-vertical;
                @include box-shadow();
                @include border-radius($grid2x);
            }
        }
    }
}