/* ==============================
    text rendering
============================== */
@mixin font-settings() {
    direction: ltr;
         font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-decoration-skip: ink;
}


/* ==============================
    mixin default font
============================== */
@mixin font-stack-html() {
            font-family: 'Apple SD Gothic Neo', 'SF Pro KR', 'SF Pro Display', 'Apple Gothic', 'Spoqa Han Sans', 'Source Sans Pro', 'Nanum Barun Gothic', 'Nanum Gothic', '돋움', 'Dotum', 'Verdana', 'Arial', 'sans-serif';
    -webkit-font-family: 'Apple SD Gothic Neo', 'SF Pro KR', 'SF Pro Display', 'Apple Gothic', 'Spoqa Han Sans', 'Source Sans Pro', 'Nanum Barun Gothic', 'Nanum Gothic', '돋움', 'Dotum', 'Verdana', 'Arial', 'sans-serif';
}

@mixin font-stack-en() {
            font-family: 'SF Pro Display', 'Roboto', 'Apple Gothic', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    -webkit-font-family: 'SF Pro Display', 'Roboto', 'Apple Gothic', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}


/* ==============================
    default font-size, line-height
============================== */
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}
@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}
@mixin line-height($size) {
    line-height: $size * 1.6;
    line-height: calculateRem($size) * 1.6;
}


/* ==============================
    opacity
============================== */
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie);
    @include render-hack(opacity, filter);
}


/* ==============================
    fonts
============================== */
body {
    outline: none;
    @include font-size(16px);
    @include line-height(16px);
    @include font-stack-html();
    @include font-settings();
    color: $black78;

    .en {
        @include font-stack-en();
    }
}

a {
    color: $brand;
    text-decoration: none;
    @include transition(color .25s ease);
  
    &:hover {
        color: $brand-hover;
    }
}

h1 {
    @include font-size($grid8x);
    @include line-height($grid4x);
}


/* ==============================
    button global extends
============================== */
%link-grey {
    color: $text777;
    @include transition(color .25s ease);
    
    &:hover {
        color: $text333;
    }
}


/* ==============================
    global container wrapper
============================== */
.container {
    width: 100%;
}

.wrapper {
    width: 960px;
    margin: 0 auto;

    @media #{$desktop} {
        width: 768px;
    }

    @media #{$tablet} {
        width: 520px;
    }

    @media #{$middle} {
        width: 360px;
    }

    @media #{$mobile} {
        width: 328px;
    }

    @media #{$mini} {
        width: 288px;
    }
}
