/* ==============================
    text rendering
============================== */
@mixin font-settings() {
    direction: ltr;
         font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-decoration-skip: ink;
}


/* ==============================
    mixin default font
============================== */
@mixin font-stack-html() {
            font-family: 'Spoqa Han Sans', 'Source Sans Pro', 'Apple SD Gothic Neo', 'Nanum Barun Gothic', 'Nanum Gothic', '돋움', 'Dotum', 'Verdana', 'Arial', 'sans-serif';
    -webkit-font-family: 'Spoqa Han Sans', 'Source Sans Pro', 'Apple SD Gothic Neo', 'Nanum Barun Gothic', 'Nanum Gothic', '돋움', 'Dotum', 'Verdana', 'Arial', 'sans-serif';
}


/* ==============================
    default font-size, line-height
============================== */
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}
@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}
@mixin line-height($size) {
    line-height: $size * 1.6;
    line-height: calculateRem($size) * 1.6;
}


/* ==============================
    opacity
============================== */
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie);
    @include render-hack(opacity, filter);
}


/* ==============================
    fonts
============================== */
body {
    outline: none;
    @include font-size(16px);
    @include line-height(16px);
    @include font-stack-html();
    @include font-settings();
    color: $black78;
}

a {
    color: $brand;
    text-decoration: none;
    @include transition(color .25s ease);
  
    &:hover {
        color: $brand-hover;
    }
}


/* ==============================
    button global extends
============================== */
%link-grey {
    color: $text777;
    @include transition(color .25s ease);
    
    &:hover {
        color: $text333;
    }
}
