.header {
    z-index: 10;
    position: fixed;
    height: $grid16x;
    background-color: white;
    border-bottom: 1px solid $stroke;

    .logo {
        width: $grid10x;
        margin-top: $grid3x;
        align-items: center;
        display: inline-block;
    }

    .link {
        float: right;
        height: 100%;
        width: $grid10x;
        margin-left: $grid4x;

        .fa {
            float: right;
            margin: 0 auto;
            margin-top: 18px;
            @extend %link-grey;
            @include font-size($grid6x);
        }

        .fa-behance {
            margin-top: $grid5x;
            @include font-size($grid5x);
        }
    }
}