#hero {
    height: 800px;
    overflow: hidden;
    text-align: center;
    background-color: $textf9;
    @include transition(all .5s ease);

    @media #{$tablet} {
        height: 720px;
        display: inline-block;
    }

    .hero-top {
        margin: $grid28x auto;
        margin-bottom: $grid16x;
        display: inline-block;

        // _global.scss
        @extend %text-spec-mqbp;
    }

    .hero-bottom {
        width: 100%;
        margin: 0 auto;
        
        .mockup {
            width: 340px;
            // TODO: 배경 없는 png 로 다시 뽑아서 @include box-shadow(); 적용
        }

        @media #{$tablet} {
            .mockup {
                width: 320px;
                margin: 0 auto;
            }
        }

        @media #{$pablet} {
            .mockup {
                width: 296px;
                margin: 0 auto;
            }
        }

        @media #{$mobile} {
            .mockup {
                width: 288px;
                margin: 0 auto;
            }
        }
    }
}
