/* ==============================
  media query breakpoints
============================== */
$wide:    "only screen and (max-width : 1280px)";
$desktop: "only screen and (max-width : 980px )";
$tablet:  "only screen and (max-width : 768px )";
$landsc:  "only screen and (max-width : 600px )";
$middle:  "only screen and (max-width : 520px )";
$pablet:  "only screen and (max-width : 420px )";
$mobile:  "only screen and (max-width : 360px )";
$mini:    "only screen and (max-width : 320px )";
