/* ==============================
  media query breakpoints
============================== */
$tablet: "only screen and (max-width : 767px)";
$landsc: "only screen and (max-width : 600px)";
$middle: "only screen and (max-width : 520px)";
$pablet: "only screen and (max-width : 420px)";
$mobile: "only screen and (max-width : 360px)";
$minimn: "only screen and (max-width : 320px)";
