/* ==============================
    pseudo class
============================== */
::placeholder {
    color: $textccc;
}

::selection {
    background-color: transparent !important;
}

select,
button,
input:focus {
    outline: 0;
}

input[type=text]::-ms-clear {
    display: none;
}

select::-ms-expand {
    display: none;
}

button {
    all: unset;
    &:hover{
        cursor: pointer;
    }
}
  