/* ==============================
    pseudo class
============================== */
::placeholder {
    color: $textccc;
}

::selection {
    color: white;
    background-color: $brand;
}

img::selection {
    visibility:hidden;
    background:transparent;
}

input[type=text]::-ms-clear {
    display: none;
}

select,
button,
input:focus {
    outline: 0;
}

select::-ms-expand {
    display: none;
}

button {
    all: unset;
    &:hover{
        cursor: pointer;
    }
}
  