%image-spec {
    z-index: 0;
    max-width: 260px;
    
    // _prefix.scss
    @extend %center-vertical;
    @include box-shadow();
    @include border-radius($grid2x);
}

section {
    .wrapper {
        height: 640px;

        .wrapper-left {
            float: left;
            width: 50%;
            height: 100%;

            .text {
                z-index: 5;
                @extend %center-vertical;
            }

            img {
                float: left;
                @extend %image-spec;
            }
        }

        .wrapper-right {
            float: right;
            width: 50%;
            height: 100%;

            img {
                float: right;
                @extend %image-spec;
            }

            .text {
                text-align: right;
                @extend %center-vertical;
            }
        }
    }
}

.border-bottom {
    border-bottom: 1px solid $stroke;
}