.last {
    text-align: center;
    background-color: $textf9;

    .wrapper {
        height: 360px !important;
        padding-top: $grid16x;
    }

    .last-top {
        @extend %text-spec-mqbp;
    }

    .last-bottom-img {
        margin: 0 auto;
        height: $grid10x;
        margin-top: $grid12x;
        display: inline-block;

        img {
            height: 100%;
            cursor: pointer;
            @include transition(opacity .25s ease);

            &:hover {
                @include opacity(.5);
            }

            // &:first-child {
            //     padding-left: $grid2x;
            // }
        }
    }
}