%image-spec {
    z-index: 0;
    max-width: 260px;
    @extend %center-vertical;
    @include box-shadow();
    @include border-radius($grid2x);
    @include transition(all .5s ease);
}


section {
    overflow: hidden;
    @include transition(all .5s ease);

    .wrapper {
        height: 640px;
        @include transition(all .5s ease);

        .wrapper-left {
            width: 50%;
            float: left;
            height: 100%;

            .text {
                z-index: 5;
                @extend %center-vertical;
                @include transition(all .5s ease);
            }

            img {
                float: left;
                @extend %image-spec;
                @include transition(all .5s ease);
            }
        }

        .wrapper-right {
            width: 50%;
            float: right;
            height: 100%;

            img {
                float: right;
                @extend %image-spec;
                @include transition(all .5s ease);
            }

            .text {
                text-align: right;
                @extend %center-vertical;
                @include transition(all .5s ease);
            }
        }
    }
}


@media #{$tablet} {
    section {
        padding-bottom: $grid16x !important;
        
        .wrapper {
            height: 640px;
            display: flex;
            display: -ms-flexbox;
            display: -webkit-box;
            flex-direction: column;

            .wrapper-text {
                order: 1;
                -ms-flex-order: 1;
                height: $grid40x !important;
            }

            .wrapper-img {
                order: 2;
                -ms-flex-order: 2;
                padding-top: $grid4x;
                height: 480px !important;
            }
            
            .wrapper-right,
            .wrapper-left {
                float: none;
                width: 100%;

                .img,
                .text {
                    float: none;
                    width: 100%;
                }

                img {
                    float: none;
                    width: $grid60x;
                    display: block;
                    margin: 0 auto !important;
                }

                .text {
                    padding-top: $grid16x;
                    padding-bottom: $grid4x;
                    text-align: center !important;
                }
            }
        }
    }
}


.border-bottom {
    border-bottom: 1px solid $stroke;
}
