.last {
    text-align: center;
    background-color: $textf9;

    .wrapper {
        height: 360px !important;
        padding-top: $grid16x;
        @include transition(all .5s ease);
    }

    .last-top {
        @extend %text-spec-mqbp;
        @include transition(all .5s ease);
    }

    .last-bottom-img {
        width: 100%;
        margin: 0 auto;
        height: $grid10x;
        margin-top: $grid12x;
        display: inline-block;
        @include transition(all .5s ease);

        img {
            height: 100%;
            cursor: pointer;
            @include transition(opacity .25s ease);

            &:hover {
                @include opacity(.5);
            }
        }
    }

    @media #{$tablet} {
        .wrapper {
            height: 320px !important;
        }
    }

    @media #{$middle} {
        .wrapper {
            height: 240px !important;
        }
    }

    @media #{$mobile} {
        .wrapper {
            height: 240px !important;
        }
    }
}
