@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Roboto";
@import "https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
/* ==============================
    normalize css
============================== */
html {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }
  *::before, *::after {
    box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.5; }

/* ==============================
    scss modules
============================== */
/* ==============================
  4px grid system
============================== */
/* ==============================
  media query breakpoints
============================== */
/* ==============================
  color stack
============================== */
/* ==============================
  gpu hack
============================== */
/* ==============================
    transition
============================== */
/* ==============================
    text rendering
============================== */
/* ==============================
    mixin default font
============================== */
/* ==============================
    default font-size, line-height
============================== */
/* ==============================
    opacity
============================== */
/* ==============================
    fonts
============================== */
body {
  outline: none;
  font-size: 16px;
  font-size: 1rem;
  line-height: 25.6px;
  line-height: 1.6rem;
  font-family: 'Apple SD Gothic Neo', 'SF Pro KR', 'SF Pro Display', 'Apple Gothic', 'Spoqa Han Sans', 'Source Sans Pro', 'Nanum Barun Gothic', 'Nanum Gothic', '돋움', 'Dotum', 'Verdana', 'Arial', 'sans-serif';
  -webkit-font-family: 'Apple SD Gothic Neo', 'SF Pro KR', 'SF Pro Display', 'Apple Gothic', 'Spoqa Han Sans', 'Source Sans Pro', 'Nanum Barun Gothic', 'Nanum Gothic', '돋움', 'Dotum', 'Verdana', 'Arial', 'sans-serif';
  direction: ltr;
  font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-decoration-skip: ink;
  color: rgba(0, 0, 0, 0.87); }
  body .en {
    font-family: 'SF Pro Display', 'Roboto', 'Apple Gothic', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    -webkit-font-family: 'SF Pro Display', 'Roboto', 'Apple Gothic', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'; }

a {
  color: #327DE1;
  text-decoration: none;
  -webkit-transition: color 0.25s ease;
  -khtml-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
  -webkit-will-change: transition;
  -khtml-will-change: transition;
  -moz-will-change: transition;
  -ms-will-change: transition;
  -o-will-change: transition;
  will-change: transition; }
  a:hover {
    color: #2968BC; }

h1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 25.6px;
  line-height: 1.6rem; }

/* ==============================
    button global extends
============================== */
.header .link .fa {
  color: #777;
  -webkit-transition: color 0.25s ease;
  -khtml-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
  -webkit-will-change: transition;
  -khtml-will-change: transition;
  -moz-will-change: transition;
  -ms-will-change: transition;
  -o-will-change: transition;
  will-change: transition; }
  .header .link .fa:hover {
    color: #333; }

/* ==============================
    pseudo class
============================== */
::placeholder {
  color: #ccc; }

::selection {
  color: white;
  background-color: #327DE1; }

img::selection {
  visibility: hidden;
  background: transparent; }

input[type=text]::-ms-clear {
  display: none; }

select,
button,
input:focus {
  outline: 0; }

select::-ms-expand {
  display: none; }

button {
  all: unset; }
  button:hover {
    cursor: pointer; }

.top {
  right: 32px;
  bottom: 32px;
  cursor: pointer;
  position: fixed;
  width: 56px;
  height: 56px;
  text-align: center;
  background-color: #327DE1;
  -webkit-border-radius: 56px;
  -khtml-border-radius: 56px;
  -moz-border-radius: 56px;
  -ms-border-radius: 56px;
  -o-border-radius: 56px;
  border-radius: 56px;
  -webkit-will-change: border-radius;
  -khtml-will-change: border-radius;
  -moz-will-change: border-radius;
  -ms-will-change: border-radius;
  -o-will-change: border-radius;
  will-change: border-radius;
  -webkit-transition: all 0.25s ease;
  -khtml-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-will-change: transition;
  -khtml-will-change: transition;
  -moz-will-change: transition;
  -ms-will-change: transition;
  -o-will-change: transition;
  will-change: transition; }
  .top .fa-angle-up {
    color: white;
    padding-top: 8px;
    font-size: 32px;
    font-size: 2rem; }
  .top:hover {
    background-color: #2968BC; }

.header {
  top: 0;
  width: 100vw;
  position: fixed;
  height: 64px;
  padding: 0 256px;
  background-color: white;
  border-bottom: 1px solid #eee; }
  .header .logo {
    width: 40px;
    margin-top: 12px;
    align-items: center;
    display: inline-block; }
  .header .link {
    float: right;
    height: 100%;
    width: 40px;
    display: inline-flex; }
    .header .link .fa {
      margin: 0 auto;
      align-items: center;
      display: inline-flex;
      font-size: 24px;
      font-size: 1.5rem; }

.article {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  padding: 256px;
  align-items: center;
  background-color: #f9f9f9; }
  .article .article-left {
    width: 50%;
    display: inline-block;
    vertical-align: middle; }
  .article .article-right {
    width: 50%; }
    .article .article-right .mockup {
      width: 75%;
      float: right;
      margin-top: 50vh; }

.footer {
  padding: 256px;
  background-color: white; }
