@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Roboto";
@import "https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
/* ==============================
    normalize css
============================== */
html {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }
  *::before, *::after {
    box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.5; }

/* ==============================
    scss modules
============================== */
/* ==============================
  4px grid system
============================== */
/* ==============================
  media query breakpoints
============================== */
/* ==============================
  color stack
============================== */
/* ==============================
  gpu hack
============================== */
/* ==============================
  border radius
============================== */
/* ==============================
    transition
============================== */
/* ==============================
  transform
============================== */
/* ==============================
  box-shadow
============================== */
/* ==============================
  border radius
============================== */
/* ==============================
    center vertically
============================== */
section .wrapper .wrapper-left img, section .wrapper .wrapper-right img, section .wrapper .wrapper-left .text, section .wrapper .wrapper-right .text {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -khtml-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -webkit-will-change: transform;
  -khtml-will-change: transform;
  -moz-will-change: transform;
  -ms-will-change: transform;
  -o-will-change: transform;
  will-change: transform; }

/* ==============================
  make center
============================== */
/* ==============================
    text rendering
============================== */
/* ==============================
    mixin default font
============================== */
/* ==============================
    default font-size, line-height
============================== */
/* ==============================
    opacity
============================== */
/* ==============================
    fonts
============================== */
body {
  outline: none;
  font-size: 16px;
  font-size: 1rem;
  line-height: 25.6px;
  line-height: 1.6rem;
  font-family: 'Apple SD Gothic Neo', 'SF Pro KR', 'SF Pro Display', 'Apple Gothic', 'Spoqa Han Sans', 'Source Sans Pro', 'Nanum Barun Gothic', 'Nanum Gothic', '돋움', 'Dotum', 'Verdana', 'Arial', 'sans-serif';
  -webkit-font-family: 'Apple SD Gothic Neo', 'SF Pro KR', 'SF Pro Display', 'Apple Gothic', 'Spoqa Han Sans', 'Source Sans Pro', 'Nanum Barun Gothic', 'Nanum Gothic', '돋움', 'Dotum', 'Verdana', 'Arial', 'sans-serif';
  direction: ltr;
  font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-decoration-skip: ink;
  color: #333; }
  body .en {
    font-family: 'SF Pro Display', 'Roboto', 'Apple Gothic', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    -webkit-font-family: 'SF Pro Display', 'Roboto', 'Apple Gothic', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'; }

a {
  color: #327DE1;
  text-decoration: none;
  -webkit-transition: color 0.25s ease;
  -khtml-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
  -webkit-will-change: transition;
  -khtml-will-change: transition;
  -moz-will-change: transition;
  -ms-will-change: transition;
  -o-will-change: transition;
  will-change: transition; }
  a:hover {
    color: #2968BC; }

h1 {
  font-weight: 700;
  font-size: 32px;
  font-size: 2rem;
  line-height: 25.6px;
  line-height: 1.6rem; }

h3 {
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 51.2px;
  line-height: 3.2rem; }

p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 25.6px;
  line-height: 1.6rem; }
  p b {
    font-weight: 700; }

/* ==============================
    button global extends
============================== */
#header .link .fa {
  color: #777;
  -webkit-transition: color 0.25s ease;
  -khtml-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
  -webkit-will-change: transition;
  -khtml-will-change: transition;
  -moz-will-change: transition;
  -ms-will-change: transition;
  -o-will-change: transition;
  will-change: transition; }
  #header .link .fa:hover {
    color: #333; }

/* ==============================
    global container wrapper
============================== */
.container {
  width: 100%; }

.wrapper {
  width: 960px;
  margin: 0 auto; }
  @media only screen and (max-width: 980px) {
    .wrapper {
      width: 768px; } }
  @media only screen and (max-width: 768px) {
    .wrapper {
      width: 520px; } }
  @media only screen and (max-width: 520px) {
    .wrapper {
      width: 360px; } }
  @media only screen and (max-width: 360px) {
    .wrapper {
      width: 328px; } }
  @media only screen and (max-width: 320px) {
    .wrapper {
      width: 288px; } }

/* ==============================
    pseudo class
============================== */
::placeholder {
  color: #ccc; }

::selection {
  background-color: transparent !important; }

select,
button,
input:focus {
  outline: 0; }

input[type=text]::-ms-clear {
  display: none; }

select::-ms-expand {
  display: none; }

button {
  all: unset; }
  button:hover {
    cursor: pointer; }

#topbtn {
  right: 32px;
  bottom: 32px;
  cursor: pointer;
  position: fixed;
  width: 56px;
  height: 56px;
  text-align: center;
  background-color: #327DE1;
  -webkit-border-radius: 56px;
  -khtml-border-radius: 56px;
  -moz-border-radius: 56px;
  -ms-border-radius: 56px;
  -o-border-radius: 56px;
  border-radius: 56px;
  -webkit-will-change: border-radius;
  -khtml-will-change: border-radius;
  -moz-will-change: border-radius;
  -ms-will-change: border-radius;
  -o-will-change: border-radius;
  will-change: border-radius;
  -webkit-transition: all 0.25s ease;
  -khtml-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-will-change: transition;
  -khtml-will-change: transition;
  -moz-will-change: transition;
  -ms-will-change: transition;
  -o-will-change: transition;
  will-change: transition; }
  #topbtn .fa-angle-up {
    color: white;
    padding-top: 8px;
    font-size: 32px;
    font-size: 2rem; }
  #topbtn:hover {
    background-color: #2968BC; }

#header {
  z-index: 10;
  position: fixed;
  height: 64px;
  background-color: white;
  border-bottom: 1px solid #eee; }
  #header .logo {
    width: 40px;
    margin-top: 12px;
    align-items: center;
    display: inline-block; }
  #header .link {
    float: right;
    height: 100%;
    width: 40px;
    margin-left: 16px; }
    #header .link .fa {
      float: right;
      margin: 0 auto;
      margin-top: 18px;
      font-size: 24px;
      font-size: 1.5rem; }
    #header .link .fa-behance {
      margin-top: 20px;
      font-size: 20px;
      font-size: 1.25rem; }

#hero .hero-top h1, .last .last-top h1 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 25.6px;
  line-height: 1.6rem; }

#hero .hero-top p, .last .last-top p {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 32px;
  line-height: 2rem; }
  #hero .hero-top p b, .last .last-top p b {
    font-weight: 700; }

@media only screen and (max-width: 520px) {
  #hero .hero-top h1, .last .last-top h1 {
    font-size: 32px;
    font-size: 2rem;
    line-height: 12.8px;
    line-height: 0.8rem; }
  #hero .hero-top p, .last .last-top p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 25.6px;
    line-height: 1.6rem; } }

#hero {
  height: 800px;
  overflow: hidden;
  text-align: center;
  background-color: #f9f9f9; }
  @media only screen and (max-width: 768px) {
    #hero {
      height: 640px;
      display: inline-block; } }
  #hero .hero-top {
    margin: 112px auto;
    margin-bottom: 64px;
    display: inline-block; }
  #hero .hero-bottom {
    width: 100%;
    margin: 0 auto; }
    #hero .hero-bottom .mockup {
      width: 320px; }
    @media only screen and (max-width: 768px) {
      #hero .hero-bottom .mockup {
        width: 296px;
        margin: 0 auto; } }
    @media only screen and (max-width: 420px) {
      #hero .hero-bottom .mockup {
        width: 288px;
        margin: 0 auto; } }

section .wrapper .wrapper-left img, section .wrapper .wrapper-right img {
  z-index: 0;
  max-width: 260px;
  -webkit-box-shadow: 0 8px 16px #ccc;
  -khtml-box-shadow: 0 8px 16px #ccc;
  -moz-box-shadow: 0 8px 16px #ccc;
  -ms-box-shadow: 0 8px 16px #ccc;
  -o-box-shadow: 0 8px 16px #ccc;
  box-shadow: 0 8px 16px #ccc;
  -webkit-will-change: box-shadow;
  -khtml-will-change: box-shadow;
  -moz-will-change: box-shadow;
  -ms-will-change: box-shadow;
  -o-will-change: box-shadow;
  will-change: box-shadow;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-will-change: border-radius;
  -khtml-will-change: border-radius;
  -moz-will-change: border-radius;
  -ms-will-change: border-radius;
  -o-will-change: border-radius;
  will-change: border-radius; }

section:not(:last-child) {
  border-bottom: 1px solid #eee; }

section .wrapper {
  height: 640px; }
  section .wrapper .wrapper-left {
    float: left;
    width: 50%;
    height: 100%; }
    section .wrapper .wrapper-left .text {
      z-index: 5; }
    section .wrapper .wrapper-left img {
      float: left; }
  section .wrapper .wrapper-right {
    float: right;
    width: 50%;
    height: 100%; }
    section .wrapper .wrapper-right img {
      float: right; }
    section .wrapper .wrapper-right .text {
      text-align: right; }

.last {
  text-align: center;
  background-color: #f9f9f9; }
  .last .wrapper {
    height: 360px !important;
    padding-top: 64px; }
  .last .last-bottom-img {
    margin: 0 auto;
    height: 40px;
    margin-top: 48px;
    display: inline-block; }
    .last .last-bottom-img img {
      height: 100%;
      cursor: pointer;
      -webkit-transition: opacity 0.25s ease;
      -khtml-transition: opacity 0.25s ease;
      -moz-transition: opacity 0.25s ease;
      -ms-transition: opacity 0.25s ease;
      -o-transition: opacity 0.25s ease;
      transition: opacity 0.25s ease;
      -webkit-will-change: transition;
      -khtml-will-change: transition;
      -moz-will-change: transition;
      -ms-will-change: transition;
      -o-will-change: transition;
      will-change: transition; }
      .last .last-bottom-img img:hover {
        opacity: 0.5;
        filter: alpha(opacity=50);
        -webkit-will-change: opacity, filter;
        -khtml-will-change: opacity, filter;
        -moz-will-change: opacity, filter;
        -ms-will-change: opacity, filter;
        -o-will-change: opacity, filter;
        will-change: opacity, filter; }

#footer {
  z-index: 9;
  width: 100%;
  color: #777;
  text-align: center;
  padding: 32px 0;
  background-color: white; }
  #footer p,
  #footer a {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 32px;
    line-height: 2rem; }
  #footer p {
    font-family: 'SF Pro Display', 'Roboto', 'Apple Gothic', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    -webkit-font-family: 'SF Pro Display', 'Roboto', 'Apple Gothic', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'; }
    #footer p:first-child {
      margin: 8px 0 0 0; }
    #footer p:nth-child(2) {
      margin: 8px 0 2px 0; }
  #footer a {
    color: #777;
    padding-bottom: 32px;
    -webkit-transition: color 0.25s ease;
    -khtml-transition: color 0.25s ease;
    -moz-transition: color 0.25s ease;
    -ms-transition: color 0.25s ease;
    -o-transition: color 0.25s ease;
    transition: color 0.25s ease;
    -webkit-will-change: transition;
    -khtml-will-change: transition;
    -moz-will-change: transition;
    -ms-will-change: transition;
    -o-will-change: transition;
    will-change: transition; }
    #footer a:not(:last-child):after {
      content: " | "; }
    #footer a:hover {
      color: #333; }
